.wrapper {
  position: fixed;
  z-index: 10;
  width: 500px;
  height: 95vh;
  background-color: #fff;
  right:0; top: 1rem;
  margin-right: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 1rem;
  overflow-y: scroll;
}

.wrapper hr {
  margin: 6px 0 12px 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  text-align: center;
}

.contentContainer{
}
.shopNameContainer{
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.3);
  padding: 10px;
  white-space: nowrap;
  width: auto;
  display: block;
  overflow-x: hidden;
  width: 10rem;
  text-align: center;
}
.shopNameContainer p{
  font-size: 12px; font-weight: bold;
  color: #717171;
}