:root {
  --max-width: 360px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Spoqa Han Sans Neo';
  display: blcok;
  /* overflow-x: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}

video {
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* mobile view setting */ 
.mobile-view-wrapper {
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* 이거 빼면 늘어남 */
  max-width: 500px;
  margin: 1rem auto;
  padding: 0 1rem;
  margin-bottom: 3rem;
}

.circleImage {
  border-radius: 100px;
  overflow: hidden;
}

