.userInfoContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 20px 20px;
  margin: 15px 0 11px 0;
}

.item:nth-child(1) {
  grid-column: 1 / 2;
	grid-row: 1 / span 2;
  width: 41px;
  height: 41px;
  border-radius: 100px;
  overflow: hidden;
}
.item:nth-child(1) img {
  width: 41px;
  height: 41px;
}

.item:nth-child(2) {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
}

.item:nth-child(3) {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  display: flex;
  align-items: center;
}

.nickname {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #202020;
}

.postInfo {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #8D8D8D;
}

.videoContainer {
  width: 100%;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
}

.pointSeperator {
  display: inline-block;
  width: 3px;
  height: 3px;
  left: 112px;
  top: 251px;
  border-radius: 10px;
  margin: 0 5px;
  background: #8D8D8D;
}